.cell {
    /* width: 10%; */
    /* height: 10%; */

    width: 75px;
    height: 75px;

    color: white;
    padding: 6px;

    box-sizing: border-box;

    font-weight: normal;
    font-size: small;
}